<h1>Immigration Tracker</h1>

<ul id="nav-links">
  <li>My Data  |</li>
  <li class="pending">Docs  |</li>
  <li class="pending">Calendar  |</li>
  <li class="pending">Contacts  |</li>
  <li class="pending">To-do list  |</li>
  <li class="pending">Notes  | </li>
  <li class="pending">Apps and Accounts</li>
</ul>
<br><br>

<ul id="my-data">
  <li>Personal Information</li>
  <li><a href="#">Travel</a></li>
  <li>Employment</li>
  <li>Education</li>
  <li>Housing</li>
</ul>