<h1>Immigration Tracker</h1>

<ul id="nav-links">
  <li>My Data  |</li>
  <li>Docs  |</li>
  <li>Calendar  |</li>
  <li>Contacts  |</li>
  <li>To do list  |</li>
  <li>Notes  | </li>
  <li>Apps and Accounts</li>
</ul>
<br><br>

<ul id="my-data">
  <li>Personal Information</li>
  <li>Travel</li>
  <li>Employment</li>
  <li>Education</li>
  <li>Housing</li>
</ul>