<!-- this is to show the travel info once entered -->
<h1>"Travel History"</h1>

<!-- this is for if we get multiple trips working -->
<!-- <p>
  <% @trip.each do |trip| %>
    <%= link_to trip.name, trip_path(trip) %>
  <% end %>
</p> -->

OMG STUFF GOES HERE!!!

<p><%= @article.body %></p>
<br>