<h1>Trips</h1>
<ul id="nav-links">
  <li><a href="../">My Data</a>  |</li>
  <li class="pending">Docs  |</li>
  <li class="pending">Calendar  |</li>
  <li class="pending">Contacts  |</li>
  <li class="pending">To-do list  |</li>
  <li class="pending">Notes  | </li>
  <li class="pending">Apps and Accounts</li>
</ul>
<br><br>
<h2>This page lists all of your different trips so you can access more data about them.</h2>


<p>(To edit this template, go to app/views/trips/index.html.erb)</p>
