<!-- we need a travel form input
reason - text field -->
<!--it should render the partial, have an intro first (Travel history, enter travel history:), -->
<!-- a button for add more, and a button for save/submit -->
<h1>Enter New Trip</h1>

<%= render partial: 'travform' %>
