/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  background-image: url("../assets/stamps.jpg");
  background-size: cover;
  
}

div#backdrop {
  margin: 0 10%;
  background-color: rgba(250, 250, 250, .9);
  text-align: center;
}

ul#nav-links li {
  display: inline;
  font-size: 1.5em;
}

ul#my-data {
  padding-bottom: 10%;
}

ul#my-data li {
  font-size: 1.25em;
  text-align: left;
  margin-left: 20%;
  list-style-type: none;
  font-weight: bold;
  padding-bottom: 5px;
}

/*div {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

div::after {
  content: "";
  background: url("../assets/stamps.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/